<div class="sidebar-search">
    <div class="input-group custom-search-form">
        <input type="text" id="search" class="form-control" data-url="{{ path('product.search') }}" placeholder="Search product name (min:3)">
    </div>
    <ul class="list-group list-group-flush" id="entitiesNav">
    </ul>
    <!-- /input-group -->
</div>
